<div class="container">
  <h1 class="title">{{name}}</h1>

  <!-- Data Table -->
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Exercise</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
      <td mat-cell *matCellDef="let element">{{ element.date }}</td>
    </ng-container>
    <ng-container matColumnDef="sets">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Sets</th>
      <td mat-cell *matCellDef="let element">{{ element.sets }}</td>
    </ng-container>
    <ng-container matColumnDef="timePerSet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time Per Set</th>
      <td mat-cell *matCellDef="let element"> {{ element.timePerSet }}</td>
    </ng-container>
    <ng-container matColumnDef="options">
      <th  class="center" mat-header-cell *matHeaderCellDef> Options</th>
      <td  class="center" mat-cell *matCellDef="let element">
        <a href="javascript:void(0)"><mat-icon class = "black-icon">visibility</mat-icon></a>
        <a href="javascript:void(0)"><mat-icon class = "black-icon">edit</mat-icon></a>
        <a href="javascript:void(0)" (click)="deleteItem(element.id)" ><mat-icon class = "black-icon">delete</mat-icon></a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'editable-row': workoutsClientData.id === row.id}"></tr>
  </table>
  <!-- Paginator Child Component -->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
