<h1 mat-dialog-title>Assing Workout</h1>
<div mat-dialog-content>
  <form [formGroup]="customerForm">

    <mat-form-field appearance="outline">
      <mat-label>Workout</mat-label>
      <mat-select formControlName="workout" placeholder="Workout">
        <mat-option *ngFor="let workout of workouts" [value] = workout.exercises>{{workout.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" placeholder="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="addWorkout()"
  >
    {{ actionBtn }}
  </button>
</div>
