<mat-toolbar>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img
    mat-card-image
    routerLink="/home"
    src="https://i.ibb.co/WWXTnGH/logo.png"
    alt="Gym4U"
    class="logo"
  />
  <span class="spacer"></span>
  <div class="browser">
    <mat-icon>search</mat-icon>
    <input
      type="text"
      placeholder="Look for posts  ..."
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let street of filteredStreets | async"
        [value]="street"
      >
        {{ street }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <span class="spacer"></span>
  <div *ngIf="!userData.loggedIn">
    <button mat-stroked-button routerLink="/login" class="btn btn-signIn">
      Sign in
    </button>
    <button
      mat-flat-button
      routerLink="/signup"
      color="primary"
      class="btn btn-signUp"
      >
      Sign up
    </button>
  </div>
  <span class="spacer-profile"></span>
  <div class="profile" *ngIf="userData.loggedIn" [matMenuTriggerFor]="appMenu">
    <mat-icon>keyboard_arrow_down</mat-icon>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU" alt="Profile" class="image">
    <div class="data">
      {{ userData.data.name }} {{ userData.data.lastName }}<br />
      <span class="role">{{ userData.data.userType }}</span>
    </div>
  </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Profile</button>
  <button mat-menu-item>Help</button>
  <button (click)="logout()" mat-menu-item>Log out</button>
</mat-menu>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <mat-nav-list *ngIf="userData.loggedIn">
      <mat-list-item class="item-profile">
        <div class="profile">
          <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU" alt="Profile" class="image">
          <div class="data">
            {{ userData.data.name }} {{ userData.data.lastName }}<br />
            <span class="role">{{ userData.data.userType }}</span>
          </div>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('customers')">Customers</mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('')">Inbox</mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('exercises')">Exercises</mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('')">Workouts</mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('posts')">Comunity</mat-list-item>
      <mat-list-item (click)="logout()">Logout</mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="!userData.loggedIn">
      <mat-list-item (click)="sidenavOptionSelect('home')">Home</mat-list-item>
      <mat-list-item (click)="sidenavOptionSelect('login')"
        >Sign in</mat-list-item
      >
      <mat-list-item (click)="sidenavOptionSelect('signup')"
        >Sign up</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
