<!-- Toolbar Tailwind -->
<div
  class="fixed z-10 flex w-full justify-between items-center py-[5px] border-b-[1px] border-[#E6E6E6] bg-white duration-500 font-baloo2"
  [ngClass]="{ 'pl-[270px]': open, 'pl-0 lg:pl-[50px]': !open }"
>
  <!-- Menu -->
  <div class="flex items-center gap-0 lg:gap-2 md:pl-5 pl-1">
    <mat-icon
      (click)="setOpen()"
      class="cursor-pointer text-[20px] md:text-[23px]"
      >menu</mat-icon
    >
    <img
      mat-card-image
      routerLink="/home"
      src="https://i.ibb.co/WWXTnGH/logo.png"
      alt="Gym4U"
      class="w-[50px] md:w-[60px] cursor-pointer"
    />
  </div>

  <!-- Browser -->
  <div
    class="w-[80%] xl:w-[60%] flex items-center pr-1"
    [ngClass]="{ 'hidden md:flex': open, flex: !open }"
  >
    <div class="hidden md:block">
      <mat-icon class="ml-5 top-[12px] text-[#888888] absolute"
        >search</mat-icon
      >
    </div>
    <input
      class="bg-[#F3F3F3] text-16 w-full pl-4 md:pl-[60px] py-[6px] rounded-lg"
      type="text"
      placeholder="Look for posts of your interest ..."
      [formControl]="control"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let street of filteredStreets | async"
        [value]="street"
      >
        {{ street }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <!-- Options -->
  <div>
    <div *ngIf="!userData.loggedIn" class="2xl:pr-5 xl:block hidden">
      <button mat-stroked-button routerLink="/signin" class="btn btn-signIn">
        Sign in
      </button>
      <button
        mat-flat-button
        routerLink="/signup"
        color="primary"
        class="btn btn-signUp"
      >
        Sign up
      </button>
    </div>
  </div>

  <!-- Profile -->
  <div class="lg:flex items-center text-[#909090] md:pr-5 pr-1 hidden">
    <div
      class="flex items-center cursor-pointer"
      *ngIf="userData.loggedIn"
      [matMenuTriggerFor]="appMenu"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
      <img
        mat-card-image
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU"
        alt="Profile"
        class="w-[36px] h-[36px] rounded-full"
      />
      <div
        *ngIf="userData.loggedIn"
        class="ml-2 text-black font-medium hidden xl:block"
      >
        {{ userData.data.profile.name }} {{ userData.data.profile.lastName
        }}<br />
        <span class="text-[#909090]">{{ userData.data.user.roles[0] }}</span>
      </div>
    </div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Help</button>
      <button (click)="logout()" mat-menu-item>Log out</button>
    </mat-menu>
  </div>
</div>

<!-- Sidebar Tailwind -->
<div
  class="fixed z-20 bg-white border-r-[1px] border-[#E6E6E6] h-screen duration-500"
  [ngClass]="{
    'w-[270px]': open,
    'w-0 translate-x-[-50px] lg:translate-x-0 lg:w-[50px]': !open
  }"
>
  <div class="w-fit mx-auto">
    <p
      routerLink="/"
      class="text-[#38bdf8] cursor-pointer"
      [ngClass]="{ 'text-[40px] py-6': open, 'text-[30px] pt-6': !open }"
    >
      {{ open ? "Gym4U" : "G" }}
    </p>
  </div>

  <!-- Profile -->
  <div
    class="flex py-4 cursor-pointer"
    [ngClass]="{ 'px-3 ': open, 'px-0 ml-2 py-1': !open }"
    *ngIf="userData.loggedIn"
  >
    <img
      mat-card-image
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzHQv_th9wq3ivQ1CVk7UZRxhbPq64oQrg5Q&usqp=CAU"
      alt="Profile"
      class="w-[36px] h-[36px] rounded-full"
    />
    <div class="flex" [ngClass]="{ block: open, hidden: !open }">
      <div class="ml-2 text-black font-medium mr-2">
        {{ userData.data.profile.name }} {{ userData.data.profile.lastName
        }}<br />
        <span class="text-[#909090]">{{ userData.data.user.roles[0] }}</span>
      </div>
      <mat-icon>play_arrow</mat-icon>
    </div>
  </div>

  <!-- Options sidebar -->
  <div class="flex flex-col">
    <div
      *ngFor="let opt of userData.loggedIn ? options[0] : options[1]"
      class="px-1 cursor-pointer"
      (click)="opt.title !== 'Logo out' ? setActive(opt.title) : logout()"
      [routerLink]="opt.link"
    >
      <ng-container *ngIf="userData.loggedIn; else logOut">
        <ng-container
          *ngIf="opt.role.length === 2 && userData.data.user.roles[0] === 'NORMAL'"
        >
          <div
            class="flex items-center gap-2 py-2 hover:bg-gray-200 rounded-sm"
            [ngClass]="{
              'mt-6': opt.gap,
              'bg-[#2b84b2] text-white': opt.isActive,
              'text-[#454545]': !opt.isActive,
              'absolute bottom-6 hover:bg-white': opt.title === 'Logo out'
            }"
          >
            <mat-icon class="ml-2">{{ opt.icon }}</mat-icon>
            <div class="font-medium" [ngClass]="{ hidden: !open, block: open }">
              {{ opt.title }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="userData.data.user.roles[0] === 'COACH'">
          <div
            class="flex items-center gap-2 py-2 hover:bg-gray-200 rounded-sm"
            [ngClass]="{
              'mt-6': opt.gap,
              'bg-[#2b84b2] text-white': opt.isActive,
              'text-[#454545]': !opt.isActive,
              'absolute bottom-6 hover:bg-white': opt.title === 'Logo out'
            }"
          >
            <mat-icon class="ml-2">{{ opt.icon }}</mat-icon>
            <div class="font-medium" [ngClass]="{ hidden: !open, block: open }">
              {{ opt.title }}
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #logOut>
        <div
          class="flex items-center gap-2 py-2 hover:bg-gray-200 rounded-sm"
          [ngClass]="{
            'mt-6': opt.gap,
            'bg-[#2b84b2] text-white': opt.isActive,
            'text-[#454545]': !opt.isActive,
            'absolute bottom-6 hover:bg-white': opt.title === 'Logo out'
          }"
        >
          <mat-icon class="ml-2">{{ opt.icon }}</mat-icon>
          <div class="font-medium" [ngClass]="{ hidden: !open, block: open }">
            {{ opt.title }}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<!-- Main content -->
<div
  [ngClass]="{ 'pl-0 lg:pl-[270px]': open, 'pl-0 lg:pl-[50px]': !open }"
  class="duration-500 px-1 md:px-4 absolute top-[40.3px] md:top-[47px] xl:top-[47px] w-full h-[100vh] bg-[#fafafa]"
>
  <router-outlet></router-outlet>
</div>
