<div class="bg-white w-fit mx-auto shadow-md rounded-xl">
  <form
    [formGroup]="userForm"
    (ngSubmit)="signUp()"
    class="flex flex-col gap-y-4 mt-[20px] mx-10"
  >
    <div class="mt-4">
      <p class="text-xl text-gray-500">Sign up</p>
      <div class="w-fit mx-auto py-2">
        <p class="text-[40px] font-medium text-gray-600">Gym4U</p>
      </div>
    </div>
    <div formGroupName="person" class="flex flex-col gap-y-5">
      <div>
        <mat-form-field class="form-items" appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput placeholder="Name" />
          <mat-hint>Enter your name</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-items" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="Last Name" />
          <mat-hint>Enter your Last name</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form-items" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="Email" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Enter your Email</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-form-field class="form-items" appearance="outline">
        <mat-label>Select your user type</mat-label>
        <mat-select formControlName="role" (selectionChange)="setRole()">
          <mat-option value="NORMAL">Normal</mat-option>
          <mat-option value="COACH">Coach</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        class="form-items"
        appearance="outline"
        *ngIf="role"
      >
        <mat-label>Select your focus</mat-label>
        <mat-select formControlName="focus">
          <mat-option value="PERSONAL_TRAINER">Personal Trainer</mat-option>
          <mat-option value="SPORT_COACH">Sport Coach</mat-option>
          <mat-option value="GYM_MANAGER">Gym manager</mat-option>
          <mat-option value="OWNER">Owner</mat-option>
          <mat-option value="HEALTH_PROFESSIONAL"
            >health Professional</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-items" appearance="outline">
        <mat-label>Username</mat-label>
        <input
          formControlName="username"
          matInput
          placeholder="Username"
        />
        <mat-hint>Enter your username</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form-items" appearance="outline">
        <mat-label>Password</mat-label>
        <input
          type="password"
          formControlName="password"
          matInput
          placeholder="Password"
        />
        <mat-icon matSuffix>visibility_off</mat-icon>
        <mat-hint>Enter your password</mat-hint>
      </mat-form-field>
    </div>
    <div class="w-fit mx-auto mt-4">
      <button type="submit" mat-flat-button color="primary" class="btn-login">
        Sign up
      </button>
    </div>
  </form>
  <div class="pb-4 w-fit mx-auto">
    <a routerLink="/signin" class="text-gray-600 font-medium"
      >Already Register? Click to Login
    </a>
  </div>
</div>
