<div class="mx-auto w-fit">
  <!-- Header -->
  <div>
    <img
      class="w-[960px] h-[250px] rounded-b-xl"
      src="https://smartseekmall.com/ecdata/stores/HLZBG956/image/data/weights-banner.jpg"
      alt="Photo of a Shiba Inu"
    />
    <div class="mx-8 border-b-[1px] border-gray-300 pb-4">
      <div class="mt-6">
        <p class="text-[25px] font-medium">Gym4U</p>
      </div>
      <div class="flex items-center gap-4 font-medium text-[#717279]">
        <div class="flex items-center gap-2">
          <mat-icon>person_outline</mat-icon>
          7 miembros
        </div>
        <div class="flex items-center gap-2">
          <mat-icon>photo_filter</mat-icon>
          {{ postArray.length }} posts
        </div>
      </div>
    </div>
    <div class="flex mx-14 pt-4 gap-4 font-medium text-gray-600">
      <p>Posts</p>
      <p>Members</p>
    </div>
  </div>

  <!-- Add post -->
  <div
    class="max-w-[450px] mt-8 rounded-lg px-4 py-[2px] mx-1 border-[1px] shadow-sm bg-white border-gray-100"
  >
    <mat-form-field class="w-full" (click)="addPostDialog()">
      <mat-label>Write something</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <div class="flex items-center text-gray-600">
      <mat-icon>photo_camera</mat-icon>

      <button mat-button (click)="addPostDialog()">Photo</button>

    </div>
  </div>

  <!-- Posts List -->
  <div *ngFor="let post of postArray" class="mt-12">
    <app-post-card [post]="post"></app-post-card>
  </div>
</div>
