<h1 mat-dialog-title>Add New Exercise</h1>
<div mat-dialog-content>
  <form [formGroup]="workoutForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <input formControlName="content" matInput placeholder="Placeholder" />
    </mat-form-field>
    <label for=""><h1>Tag</h1></label>
    <mat-radio-group formControlName="tag" class="example-radio-group">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let fresh of tagList"
        [value]="fresh"
      >
        {{ fresh }}
      </mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Owner</mat-label>
      <textarea formControlName="owner" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button
    style="margin-left: 8px"
    mat-raised-button
    color="primary"
    (click)="addWorkout()"
  >
    {{ actionBtn }}
  </button>
</div>
